html,
body {
  background-color: $background-color;
  padding: 0;
  font-family: 'Encode Sans', sans-serif;
  color: $foreground_color;
  max-width: 100%;
  overflow-x: hidden;
}

h1,
a {
  color: $accent-colour;
}

a:hover {
  text-decoration: none;
  color: $foreground-color;
}

h2 {
  font-size: 3em;
  margin-bottom: 30px;
  text-align: center;
}

p {
  font-size: 1.1em;
}

.hand {
  cursor: pointer;
}

.navbar {
  margin-bottom: 50px;
}

.content {
  margin-top: 160px;
  padding: 35px;
}

#photo {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 8px solid $accent_colour;
}

.navbar {
  .fas {
    font-size: 2em;
  }
}

.shadow-bottom {
  -webkit-box-shadow: 0 3px 26px 0 rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0 3px 26px 0 rgba(0, 0, 0, 0.57);
  box-shadow: 0 3px 26px 0 rgba(0, 0, 0, 0.57);
}

.dark-background {
  background-color: $gray!important;
  transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}

.nav-item {
  text-transform: lowercase;
  font-size: 1.3em;
}

.navbar-brand {
  font-size: 3em;
  text-transform: lowercase;
  margin-top: -15px;
}

button.navbar-toggler {
  position: absolute;
  top: 15px;
  left: 15px;
  border: none;

  .fas {
    font-size: 1.5em!important;
  }
}

.bg-dark {
  background-color: transparent!important;
  transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}

#vasco {
  color: white;
}

#vasco, #dev {
  font-size: 2.5em;
  transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}

#title {
  margin-top: 50px;
}

#work,
#intro {
  padding: 25px;
}

#what {
  padding-bottom: 30px;

  p {
    color: $accent_colour2;
  }
}

#work {
  background-color: $accent_colour;

  a {
    color: $foreground_color;
  }

  a:hover {
    color: $accent_colour;
  }
}

#contact {
  margin-top: 30px;
  margin-bottom: 30px;

  p {
    font-size: 1.3em;
    margin-bottom: 30px;
  }

  a {
    color: $accent_colour2;
  }

  a:hover {
    color: $foreground_color;
  }

  .fas {
    color: $foreground_color !important;
  }
}

#intro {
  margin-bottom: 30px;
  background-color: $accent_colour;
  color: $foreground_color;

  h2 {
    font-size: 2.5em;
    padding-top: 10px;
    padding-bottom: 15px;
  }

  p {
    font-size: 1.3em;
  }
}

.accent {
  color: $accent_colour;
}

.accent2 {
  color: $accent_colour2;
}

.fas {
  color: $accent_colour;
}

.logos {
  max-width: 150px;
  top: 10px;
}

.logo-container {
  height: 12em;
  line-height: 12em;
  text-align: center;
}

.grid-item {
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  margin: 15px 0;

  .grid-image {
  }

  .grid-image img {
    width: 100%;
  }

  .text-wrap {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;

    p {
      font-size: 15px;
      text-align: center;
      padding: 15px;
    }

    h4 {
      margin: 0;
      padding: 15px;
    }
  }

  .box-img {
    width: 100%;
    float: left;
    overflow: hidden;
    border: 1px solid #ccc;
  }
}

.grid-item:hover {
  -webkit-box-shadow: 0 3px 26px 0 rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0 3px 26px 0 rgba(0, 0, 0, 0.57);
  box-shadow: 0 3px 26px 0 rgba(0, 0, 0, 0.57);
}

.grid-item-hover {
  position: absolute;
  height: 100%;
  width: 100%;
  left: -100%;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}

.grid-item:hover .grid-item-hover {
  left: 0;
}

.grid-item:hover .text-wrap {
  background: none;
}

.grid-item:hover .grid-image .text-wrap {
  bottom: -100%;
}

.btn-secondary {
  background-color: $accent_colour2;
  border: none;
  color: black;
}

.btn-secondary:hover {
  background-color: $accent_colour;
  color: $foreground_color;
}

#form-error {
  font-size: 1.2em !important;
  margin-top: 15px;
}

.form-control {
  background-color: $accent_colour;
  color: $foreground-color;
  border: none;
}

#form-hint {
  color: $accent_colour2;
}

.smaller-title {
  font-size: .2em;
  padding-top: 8px;
}

.smaller-nav-item {
  font-size: 1em;
}

#back-to-top {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: rgba(0,0,0,.3); /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 25px; /* Increase font size */
}

#back-to-top:hover {
  background-color: $accent_colour2;
}
